<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
  <div class="form-group">
    <input id="name"
           class="form-control"
           type="text"
           placeholder="Add unique name"
           [ngModel]="droplet.name"
           name="name"
           (keyup)="onSearch(f.value.name)"
           autocomplete="off"
           (focus)="onFocus()">
  </div>
  <div class="advice">
    <ul>
      <li>Is your droplet's name unique?</li>
      <li>Does your droplet's name have more than 10 characters?</li>
      <li>What is the most obvious terms a person would use to search for your droplet?</li>
    </ul>
  </div>
  <div class="results">
    <div *ngFor="let result of searchResults">
      <div>{{ result.name }}</div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">
    <span *ngIf="droplet._id">Edit Name</span>
    <span *ngIf="!droplet._id">Add Name</span>
  </button>
</form>
