
<div class="row">
  <div class="col-md-11">
    <div class="droplet-name cursor" (click)="editThis('name')">{{ droplet.name || "My New Droplet" }}
      <div class="progress-marker down-a-bit" [class.complete]="droplet.name">
      </div>
    </div>
    <div *ngIf="droplet.comments && droplet.comments.name" class="comments col-md-12">
      <label>Editor comment:</label>
      <div>{{ droplet.comments.name }}</div>
    </div>
    <h4>
      <span class="label label-primary">{{ droplet.status || "draft" }}</span>
      <span class="label label-danger">{{ public || "private" }}</span>
      <span class="label label-warning">{{ droplet.verified || "unverified" }}</span>
    </h4>
    <button *ngIf="droplet.verified === 'unverified' && droplet.status ==='complete'" class="btn btn-xs btn-primary" (click)="submitForReview('submit')">Submit for Review</button>
    <button *ngIf="droplet.verified === 'under review' && droplet.status ==='complete'" class="btn btn-xs btn-primary" (click)="submitForReview('resubmit')">Resubmit for Review</button>
    <button *ngIf="droplet.verified === 'verified' && !droplet.open" class="btn btn-xs btn-primary" (click)="makePublic()">Make Public</button>
  </div>
</div>

<div *ngIf="droplet.description" class="row">
  <div class="col-md-11">
    <h4>Description
      <div class="progress-marker" [class.complete]="droplet.description"></div>
    </h4>
    <div class="description cursor" (click)="editThis('description')">
      <span [innerHTML]="droplet.description"></span>
    </div>
    <div *ngIf="droplet.comments && droplet.comments.description" class="comments ">
      <label>Editor comment:</label>
      <div>{{ droplet.comments.description }}</div>
    </div>
  </div>
</div>

<div *ngIf="droplet.explanations.length > 0" class="row">
  <div class="col-md-11">
    <h4>
      Explanations
      <span class="glyphicon glyphicon-plus btn-add cursor" [routerLink]="['/create/create3']"></span>
      <div class="progress-marker" [class.complete]="droplet.explanations.length > 0"></div>
    </h4>
    <div *ngFor="let explanation of droplet.explanations; let i=index; trackBy: tracking">
      <div class="explanation" (click)="selectExplanation(i)">
        <span (click)="removeElement(i, 'explanation')" class="pull-right glyphicon glyphicon-remove cursor" aria-hidden="true"></span>
        <span [innerHTML]="explanation.content || empty" class="cursor"></span>
      </div>
      <div *ngIf="explanation.comment" class="comments">
        <label>Editor comment:</label>
        <div>{{ explanation.comment }}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="droplet.questions.length > 0" class="row">
  <div class="col-md-11">
    <h4>Questions
      <span class="glyphicon glyphicon-plus btn-add cursor" [routerLink]="['/create/create4']"></span>
      <div class="progress-marker" [class.complete]="droplet.questions.length > 0"></div>
      <div class="progress-marker" [class.complete]="droplet.questions.length > 1"></div>
      <div class="progress-marker" [class.complete]="droplet.questions.length > 2"></div>
      <div class="progress-marker" [class.complete]="droplet.questions.length > 3"></div>
      <div class="progress-marker" [class.complete]="droplet.questions.length > 4"></div>
    </h4>
    <div *ngIf="droplet.questions.length < 1">None</div>
    <div *ngFor="let question of droplet.questions; let i=index; trackBy: tracking">
      <div class="question cursor" (click)="selectQuestion(i)">
        <div>
          <span (click)="removeElement(i, 'question')" class="pull-right glyphicon glyphicon-remove cursor" aria-hidden="true"></span>
          <h5>Prompt:</h5>
          <span [innerHTML]="question.prompt || empty"></span>
        </div>
        <hr>
        <h5>Answer:</h5>
        <div>{{ question.answer || "empty" }}</div>
        <hr>
        <h5>Filled Answer:</h5>
        <div>{{ question.filledAnswer || "empty" }}</div>
      </div>
      <div *ngIf="question.comment" class="comments">
        <label>Editor comment:</label>
        <div>{{ question.comment }}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="droplet.hints.length > 0" class="row">
  <div class="col-md-11">
    <h4>Hints (optional)
    <span class="glyphicon glyphicon-plus btn-add cursor" [routerLink]="['/create/create5']"></span>
    </h4>
    <div *ngFor="let hint of droplet.hints; let i=index; trackBy: tracking">
      <div class="hint" (click)="selectHint(i)">
        <span (click)="removeElement(i, 'hint')" class="pull-right glyphicon glyphicon-remove cursor" aria-hidden="true"></span>
        <span [innerHTML]="hint.content || empty" class="cursor"></span>
      </div>
      <div *ngIf="hint.comment" class="comments">
        <label>Editor comment:</label>
        <div>{{ hint.comment }}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="droplet.tags.length > 0" class="row">
  <div class="col-md-11">
    <h4>Tags
      <span class="glyphicon glyphicon-plus btn-add cursor" [routerLink]="['/create/create6']"></span>
      <div class="progress-marker" [class.complete]="droplet.tags.length > 0"></div>
      <div class="progress-marker" [class.complete]="droplet.tags.length > 1"></div>
      <div class="progress-marker" [class.complete]="droplet.tags.length > 2"></div>
    </h4>
    <button *ngFor="let tag of droplet.tags; let i=index; trackBy: tracking" type="button" class="btn btn-default btn-sm" (click)="removeElement(i, 'tag')">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ tag.tag }}
    </button>
    <div *ngIf="droplet.comments && droplet.comments.tags" class="comments">
      <label>Editor comment:</label>
      <div>{{ droplet.comments.tags }}</div>
    </div>
  </div>
</div>
