.description, .explanation, .question, .hint {
  background-color: #e5c8ef;
  border: 1px solid transparent;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 15px;

}
.droplet-name {
  font-size: 24px;
  font-weight: bold;
}
.progress-marker {
  margin-right: 5px;
  margin-top: 6px;
  float: right;
  display: inline-block;
  background-color: #d9534f;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.complete {
  background-color: green;
}
.btn {
  margin-bottom: 10px;
}

.btn-add {
  color: #77a75b;
  padding: 3px;
}

.btn-add:hover {
  color: green;
}
.comments {
  border: 1px solid black;
  padding: 5px;
  margin: 0 0 10px 15px;
}
.left15 {
  margin-left: 0;
}

.down-a-bit {
  margin-top: 14px;
}
