<form (ngSubmit)="addDescription(f.value)" #f="ngForm">
  <div class="form-group">
    <label>Description: <small>(required)</small></label>
    <quill-editor
      id="description"
      name="description"
      placeholder="Add description"
      [ngModel]="droplet.description"
      (onEditorCreated)="setFocus($event)"
      [modules]="{
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['code-block', 'clean']
        ]
      }"
      required>
    </quill-editor>
  </div>
  <div class="advice">
    <ul>
      <li>Describe what your droplet tests.</li>
      <li>Give examples if possible.</li>
      <li>Use styling to make it clearer.</li>
    </ul>
  </div>
  <button type="submit" class="btn btn-default">Save Description</button>
  <button class="btn" [routerLink]="['/create/create3']">Next</button>
</form>
