<h3>Create a Droplet</h3>
<button class="btn btn-large" [routerLink]="['create1']">Check</button>
<button class="btn btn-large" [routerLink]="['create2']">Basic Details</button>
<button class="btn btn-large" [routerLink]="['create3']">Explanations</button>
<button class="btn btn-large" [routerLink]="['create4']">Questions</button>
<!--<button class="btn btn-large" [routerLink]="['create5']">Hints</button>
<button class="btn btn-large" [routerLink]="['create6']">Tags</button> -->
<div class="row">
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-6">
    <app-show-droplet></app-show-droplet>
  </div>
</div>
