<h3 *ngIf="!newDroplet">Edit Droplet</h3>
<h3 *ngIf="newDroplet">Create a Droplet</h3>
<div class="row">
  <div class="col-md-6">
    <button class="btn btn-primary" [routerLink]="['create1']">Name</button>
    <button class="btn btn-primary" [routerLink]="['create2']">Description</button>
    <button class="btn btn-primary" [routerLink]="['create3']">Explanations</button>
    <button class="btn btn-primary" [routerLink]="['create4']">Questions</button>
    <button class="btn btn-primary" [routerLink]="['create5']">Hints</button>
    <button class="btn btn-primary" [routerLink]="['create6']">Tags</button>
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-6">
    <app-show-droplet></app-show-droplet>
  </div>
</div>
