<div class="row">
  <div class="col-md-6 create-section">
    <div class="margin-10">
      <!-- res-bottom-5 makes a margin if the screen size forced the buttons to go onto two lines -->
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create1']">Name</button>
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create2']">Description</button>
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create3']">Explanations</button>
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create4']">Questions</button>
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create5']">Hints</button>
      <button class="btn btn-primary resp-bottom-5" [routerLink]="['create6']">Tags</button>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="show-droplet col-md-6">
    <app-show-droplet></app-show-droplet>
  </div>
</div>
