.comment-box {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

hr {
  border-top: 3px double #8c8b8b;
}

.glyphicon-remove {
  float: right;
}

.margin-l-5 {
  margin-left: 5px;
}
