<div class="row">
   <div class="col-xs-4 col-xs-offset-4 text-center">
     <flash-messages></flash-messages>
   </div>
</div>

<nav class="navbar">
  <a class="navbar-brand" [routerLink]="['/dashboard']">Deeply Open</a>
  <ul class="nav navbar-nav" *ngIf="auth.isAuthenticated()">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/dashboard']">Dashboard<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <!-- <a class="nav-link" [routerLink]="['/create']">Create<span class="sr-only">(current)</span></a> -->
      <a class="nav-link" (click)="createNew()">Create<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/review']">Review<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/api']">API<span class="sr-only">(current)</span></a>
    </li>
  </ul>
  <div class="pull-right pad8">
    <li class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.isAuthenticated()">Log In | Sign Up</li>
    <li class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.isAuthenticated()">Log Out</li>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
