.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-blurb {
  margin-top: 30px;
  font-size: 1.6em;
  font-weight: 200;
  text-align: center;
}

.signup {
  margin-top: 10px;
}

.deeply {
  font-weight: 500;
  color: #8c00ff;  
}
