<h1>Dashboard</h1>
<h3>Your Droplets</h3>
<div *ngFor="let droplet of userDroplets" class="dropletRow">
  <div>
    <span>{{ droplet.name }}</span> |
    <button class="btn btn-xs" (click)="editDroplet(droplet._id)">Edit</button>
    <button class="btn btn-xs" [ngClass]="{'btn-danger': droplet.verified === 'review complete'}">{{ droplet.verified }}</button>
  </div>
</div>

<h3>Your Review Droplets</h3>
<div *ngFor="let droplet of userReviewDroplets; let i=index; trackBy: tracking" class="dropletRow">
  <div>
    <span>{{ droplet.name }}</span> |
    <button
      class="btn btn-xs"
      [ngClass]="{'btn-danger': droplet.verified === 'review complete'}">{{ droplet.verified }}
    </button> |
    <a (click)="unreviewDroplet(droplet, i)">resign as reviewer</a> |
    <a (click)="reviewDroplet(droplet)">REVIEW</a>
  </div>
</div>
