.no-border {
  border: none;
  padding-left: 0;
  padding-right: 10px;
}

.h5 {
  font-family: "Roboto", helvetica, arial, sans-serif, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8C00FF;
}

.mid-height {
  height: 2em;
}

li {
  list-style: none;
  white-space: nowrap;
  font-size: 15px !important;
}

.no-hover {
  pointer-events: none;
}

.pencil-dash {
  padding: 8px;
}

.pencil-dash:hover {
  background-color: #8C00FF;
  color: #FFF;
}
