<h1>Dashboard</h1>
<h3>Your Droplets</h3>
<div *ngFor="let droplet of userDroplets">
  <div>
    <span>{{ droplet.name }}</span> |
    <a (click)="editDroplet(droplet._id)">edit</a>
  </div>
</div>

<h3>Your Review Droplets</h3>
<div *ngFor="let droplet of userReviewDroplets">
  <div>
    <span>{{ droplet.name }}</span> |
    <span>{{ droplet.verified }}</span> |
    <a (click)="unreviewDroplet(droplet)">resign as reviewer</a> |
    <a (click)="reviewDroplet(droplet)">REVIEW</a>
  </div>
</div>
