.no-border {
  border: none;
  padding-left: 0;
  padding-right: 5px;
}

.h5 {
  font-family: "Roboto", helvetica, arial, sans-serif, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #8C00FF;
}

.mid-height {
  height: 2em;
}

.no-hover {
  pointer-events: none;
}
