/* You can add global styles to this file, and also import other style files */

.pad8 {
  padding: 8px;
}

.advice {
  padding: 10px;
  background-color: yellow;
}

.main-content {
  padding: 0 15px;
}

.show-droplet {
  height: 82vh;
  overflow-y: auto;
  padding-bottom: 25px;
}
