/* You can add global styles to this file, and also import other style files */

.pad8 {
  padding: 8px;
}

.advice {
  margin: 10px;
  padding: 10px;
  background-color: #9fa8da;
}

.main-content {
  padding: 0 15px;
}

.show-droplet {
  height: 82vh;
  overflow-y: auto;
  padding-bottom: 25px;
}

.alert-success {
  position: absolute;
  width: 300px;
  margin: 0 auto;
  background-color: black;
  color: white;
  z-index: 9999;
}
