/* Styles culled from old Deeply site */
body {
  font-family: "Roboto", helvetica, arial, sans-serif, helvetica, arial, sans-serif;
}

.btn-primary {
  color: #8C00FF;
  background-color: #FFFFFF;
  border-radius: 0px;
  border: 2px solid #8C00FF;
  padding: 10px 20px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}

.btn {
  border-radius: 0px;
  font-family: "Roboto", helvetica, arial, sans-serif, helvetica, arial, sans-serif;
  font-size: .9em;
  line-height: 1.5em;
  margin: 0;
  text-decoration: none;
}

.btn:hover, .btn:focus {
  background-color: #8C00FF;
	color: #FFFFFF;
	outline: none;
}

.pad8 {
  padding: 8px;
}

.advice {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #e5c8ef;
}

/*This is a container class from quill editor. This makes it bigger.*/
.ql-container {
  height: 100px !important;
}

.main-content {
  padding: 0 15px;
}

.show-droplet {
  height: 82vh;
  overflow-y: auto;
  padding-bottom: 25px;
}

.alert-success {
  position: fixed;
  width: 300px;
  margin: 0 auto;
  background-color: #8C00FF;
  color: #FFF;
  z-index: 9999;
}

.right {
  float: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.purple {
  color: #8C00FF;
}

.cursor { cursor: hand; cursor: pointer }
